<p id="grid" style="width: 650px;">
    <button kendoButton (click)="showGrid()" *ngIf="!show" [primary]="true" >Products</button>
    <button kendoButton (click)="closeGrid()" *ngIf="show" [primary]="true" >Close</button><br><br>

    <kendo-grid 
        [data]="gridData"  
        [height]="410" 
        *ngIf="show" 
    >
        <kendo-grid-column field="id" title="ID" width="20">
        </kendo-grid-column>
        <kendo-grid-column field="userId" title="User ID" width="20">
        </kendo-grid-column>
        <kendo-grid-column field="title" title="Title" width="50">
        </kendo-grid-column>
        <kendo-grid-column field="completed" title="Completed" width="30">
        </kendo-grid-column>
    </kendo-grid>

</p>
