<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
     <br>
     Welcome 
    
  </h1>
  <button kendoButton (click)="buttonWorks()" *ngIf="works" [primary]="true">Kendo Button</button>
  <button kendoButton (click)="intro()" *ngIf="!works" [primary]="true">Go Back</button>
</div>

<div kendoTooltip filter="strong" style="text-align: center;padding-top: 20px;">
   <br> <p><strong title="Wow! Tooltip works as well">Hover over me</strong></p>  
</div><br>

<div class="example-wrapper">
   <button kendoButton *ngIf="!opened" (click)="open()" [primary]="true">Click me!</button>
   <app-grid></app-grid>
</div>


<kendo-window title="Please provide additional data" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">
   <form class="k-form">
      <fieldset>
         <legend>User Details</legend>

         <div class="k-form-field">
            <span>First Name<span class="k-required">*</span>:
            <kendo-textbox-container  floatingLabel="Enter First name">
               <input style="width: 250px;" kendoTextBox/>
            </kendo-textbox-container><br></span>

            <span>Last Name<span class="k-required">*</span>:
            <kendo-textbox-container  floatingLabel="Enter Last name">
               <input style="width: 250px;" kendoTextBox/>
            </kendo-textbox-container></span>
         </div>

         <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'Text'" [selected]="true">
               <ng-template kendoTabContent>
                  <div class="number"><br>
                     Phone number:
                     <kendo-dropdownlist  name="code" style="width: 67px;" [data]="codes" [(ngModel)]="code" name="code">
                     </kendo-dropdownlist>&nbsp;
                     <kendo-maskedtextbox
                        [mask]="mask"
                        [value]="value"
                        [maskValidation]="maskValidation">
                     </kendo-maskedtextbox><br><br>
                  </div>
               </ng-template>
            </kendo-tabstrip-tab>

            <kendo-tabstrip-tab [title]="'Email'">
               <ng-template kendoTabContent>
                  <div class="email">
                     Email:
                     <kendo-textbox-container>
                        <input style="width: 170px;" kendoTextBox placeholder="Enter email" />
                     </kendo-textbox-container>
                     <kendo-dropdownlist  name="handle" style="width: 127px;" [data]="handles" [(ngModel)]="handle" name="handle">
                     </kendo-dropdownlist><br><br>
                  </div>
               </ng-template>
            </kendo-tabstrip-tab>
         </kendo-tabstrip>
            

         
      </fieldset>

      <div class="text-right" style="text-align: center;">
         <button type="button" class="k-button" (click)="close()">Cancel</button> &nbsp;&nbsp;
         <button type="button" class="k-button k-primary" (click)="show()">Submit</button>
      </div>
   </form>
</kendo-window>

<router-outlet></router-outlet>


